.button{
-fx-border-radius : 2 ;
-fx-background-radius : 2 ;
-fx-text-fill: white ;
-fx-background-color:  #808080 ;
-fx-rippler : blue ;

}

.button:hover{

-fx-text-fill:  #808080 ;
-fx-background-color: white ;
-fx-border-color : #808080 ;


}


