.button{
-fx-border-color : #808080 ;
-fx-border-radius: 1 ;
-fx-text-fill: #808080 ;
-fx-background-color:  white ;

}

.button:hover{
-fx-border-color : white ;
-fx-text-fill: white ;
-fx-background-color: #808080 ;

}


