.button{

-fx-background-color :  transparent ;
-fx-border-color :  white ;
-fx-border-radius :  100 ;
-fx-border-width : 2 ;

}

.button:hover{

-fx-background-color :  transparent ;
-fx-border-color :  white ;
-fx-border-radius :  100 ;
-fx-border-width : 5 ;


}


.button:focused{
-fx-background-radius : 100 ;
-fx-background-color :  white ;
-fx-border-color :  white ;
-fx-border-radius :  100 ;
-fx-border-width : 1 ;


}
