.tab-header-background {
    -fx-background-color: transparent ;
}


.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #999999 ;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #404040 ;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill: BLACK ;
	
}




.jfx-tab-pane .tab-selected-line {
    -fx-stroke: grey ;
}
