/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 20, 2017, 3:29:02 PM
    Author     : admin
*/

.sidepanebutton{
    
    
    
    -fx-background-color: transparent;
    -fx-text-fill: white ;
    
}


.sidepanebutton:hover{
    
    
    
    -fx-background-color: white;
    -fx-text-fill: #ff5c33 ;
    
}


